@import '@/styles/imports';

.signIn_body {
	width: 100%;
	.signIn_text {
		text-align: right;
		margin-bottom: 2.4rem;
		p {
			font-family: $font;
			color: $col-grey-500;
			@extend %text-16;
			a {
				color: $col-primary-default;
				font-family: $font-700;
				margin-left: 0.8rem;
			}
		}
	}
	.auth_component {
		.tabcontent {
			.tab_1 {
				.btn {
					margin-bottom: 1.6rem;
					width: 100%;
					justify-content: space-around;
					h3 {
						font-family: $font-500;
						font-size: 1.8rem;
						line-height: 2.4rem;
						color: #666;
					}
				}
				.divider {
					width: 100%;
					@extend %flex-align !optional;
					gap: 1.6rem;
					height: 4rem;
					margin-bottom: 1.6rem;
					h3 {
						@extend %text-16;
						color: $col-grey-500;
						font-family: $font;
					}
					.line {
						width: 17.5rem;
						height: 0.1rem;
						background: $col-grey-700;
					}
				}
				.input_fields {
					display: flex;
					flex-direction: column;
					gap: 1.6rem;
					margin: 1.5rem 0;
					input {
						width: 100%;
					}

					.prefix_container {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						gap: 1rem;
						height: 1.7rem;

						.prefix_divider {
							width: 1px;
							height: 2rem;
							background-color: $col-grey-300;
							display: flex;
						}
					}
				}
			}
		}
		.error_styles {
			@extend %text-14;
			font-family: $font-500;
			color: $col-error-500;
		}

		.error_border {
			border: 0.1rem solid $col-error-500;
		}
		.forgot_password {
			h3 {
				margin: 1rem 0;
				@extend %text-14;
				font-family: $font-900;
				color: $col-primary-default;
			}
		}
	}

	.new_sippy {
		display: none;
		justify-content: center;
		align-items: center;
		gap: 1.6rem;
		margin-top: 2.4rem;
		p {
			@extend %text-16;
			font-family: $font-500;
			color: $col-grey-500;
		}
		a {
			@extend %text-16;
			font-family: $font-900;
			color: $col-primary-default;
		}
	}

	@include screenMax('mobile') {
		.new_sippy {
			display: flex;
		}

		.signIn_text {
			display: none;
		}
	}
}
