@import '@/styles/imports';

.auth_component {
    p {
        text-align: center;
        margin-bottom: 2.4rem;
        color: $col-grey-500;
        @extend %text-14;
        font-family: $font;
    }
    .fields {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
}