@import '@/styles/imports';
.preloader {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	.loader {
		@extend %flex-center;
		position: relative;
		left: 50%;
		top: 15vh;
		width: 10rem;
		height: 10rem;
		margin: -5rem 0 0 -5rem;
		border-radius: 50%;
		border: 0.3rem solid transparent;
		border-top-color: $col-primary-default;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		&:before {
			content: "";
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			right: 0.5rem;
			bottom: 0.5rem;
			border-radius: 50%;
			border: 0.3rem solid transparent;
			border-top-color: $col-primary-default;
			-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite;
		}
		&:after {
			content: "";
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			right: 1.5rem;
			bottom: 1.5rem;
			border-radius: 50%;
			border: 0.3rem solid transparent;
			border-top-color: rgba($col-primary-default, 0.7);
			-webkit-animation: spin 1.5s linear infinite;
			animation: spin 1.5s linear infinite;
		}
		&[data-route = "true"] {
			border-top-color: $col-orange-300;
			&:before {
				border-top-color: $col-orange-300;
			}
			&:after {
				border-top-color: $col-orange-300;
			}
		}
		@include screenMax("mobile") {
			width: 5rem;
			height: 5rem;
			top: 50%;
		}
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
