@import "@/styles/imports";

.slider {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #540068;
	.sliderHandle {
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: #540068;
		border-radius: 50%;
		top: -0.8rem;
		cursor: grab;
		&:active {
			cursor: grabbing;
		}
		&:nth-child(1) {
			left: -0.4rem;
		}
		&:nth-child(2) {
			right: 0.4rem;
		}
	}
	.filterName {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 1.6rem;
		h3 {
			font-family: $font-700;
			color: $light-text-main;
			@extend %text-14;
		}
		span {
			font-size: 3.2rem;
		}
		.sliderValue {
			width: 9.7rem;
			height: 4rem;
			border: 0.1rem solid $col-grey-light-stroke;
			padding: 0.8rem 1.6rem;
			border-radius: 1rem;
		}
		&[data-theme="dark"] {
			h3 {
				color: $col-white;
			}
		}
	}
}
