@import '@/styles/imports';

.recover_password_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	.subTitle_icon {
		padding: 0.5rem 1.5rem;
		border-radius: 8px;
		margin: 2rem 0;

		&[data-page='otp'] {
			background: $col-success-50;
		}

		&[data-page='recoverPassword'] {
			background: $col-error-50;
		}

		.icon {
			height: 50px;
			width: 50px;
		}

		p {
			color: $col-grey-900;
			@extend %text-16;
			font-family: $font-700;
		}
	}

	.title {
		@extend %title-32;
		font-family: $font-900;
		color: $col-grey-900;
	}

	.description {
		margin-bottom: 2rem;
		text-align: center;
		@extend %text-14;
	}
}
