@import "@/styles/imports";

.header {
	padding: 2.4rem 4rem;
	border-top-left-radius: 1.6rem;
	border-top-right-radius: 1.6rem;
	background-repeat: repeat;
	background-image: url('/svgs/background.png');
	transition: $all-transition;
	@include flex();
	align-items: center;
	a {
		.header_logoContainer {
			transition: $all-transition;
			margin-right: 1.6rem;
		}
	}
	.small_row {
		@include flex(flex-start, center);
		gap: 1.6rem;
	}
	.header_nav {
		min-width: 20%;
		margin-right: 5.5rem;
	}
	.button_container {
		border: 0.2rem solid $light-border-button;
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		@extend %center;
		position: relative;
		cursor: pointer;
		.icon {
			position: relative;
			width: 2rem;
			height: 2rem;
		}
		.dropdownMenu {
			position: absolute;
			top: 5rem;
			right: -0.1rem;
			z-index: 3;
			@include screenMax("mobile") {
				top: 4rem;
				right: -0.2rem;
			}
		}
	}
	.cart_button {
		border: 0.2rem solid $light-border-button;
		padding: 1rem 1.6rem;
		background-color: $light-background-primary-surface;
		border-radius: 10rem;
		@include flex(flex-start, center);
		cursor: pointer;
		transition: $all-transition;
		.cart_icon {
			position: relative;
			width: 2rem;
			height: 2rem;
			margin-right: 0.8rem;
		}
		p {
			font-family: $font-700;
			color: $light-text-main;
			@extend %text-14;
			transition: $all-transition;
		}
	}
	.mob_view {
		display: none;
	}
	.desk_view {
		display: grid;
	}
	.controls {
		button {
			width: 3.4rem;
			aspect-ratio: 1;
			display: none;
			place-items: center;
			padding: 0;
			scale: 1;
			background: transparent;
			border: 0;
			border-radius: 50%;
			transition: background 0.2s;
			cursor: pointer;
			&:focus {
				outline-color: hsl(320 80% 50% / 0.5);
				outline-offset: 1rem;
				outline-width: 4px;
			}
			rect {
				transform-box: fill-box;
				transform-origin: 50% 50%;
				fill: $light-text-main;
			}
			&[aria-pressed="true"] rect {
				transition: translate 0.2s, rotate 0.2s 0.3s;
			}
			rect {
				transition: rotate 0.2s 0s, translate 0.2s 0.2s;
			}

			&[aria-pressed="true"] rect:nth-of-type(1) {
				translate: 0 333%;
				rotate: -45deg;
			}
			&[aria-pressed="true"] rect:nth-of-type(2) {
				rotate: 45deg;
			}
			&[aria-pressed="true"] rect:nth-of-type(3) {
				translate: 0 -333%;
				rotate: 45deg;
			}
			&[aria-pressed="true"] svg {
				rotate: 90deg;
				transition: rotate 1s 0.4s;
			}

			&[aria-pressed="true"] svg {
				transition-timing-function: var(--elastic-out);
			}
		}
	}
	@include screenMax("mobile") {
		padding: 2.4rem 1.6rem;
		justify-content: space-between;
		.button_container {
			width: 3.2rem;
			height: 3.2rem;
			.icon {
				width: 1.6rem;
				height: 1.6rem;
			}
			.item {
				width: 1.6rem;
				height: 1.6rem;
				background: $col-primary-default;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -0.6rem;
				right: -0.5rem;
				&[data-route = "true"] {
					background: $col-orange-300;
				}
				p {
					font-size: 1rem;
					font-weight: 900;
					color: $col-white;
				}
			}
		}
		.header_nav {
			margin-right: 0;
			.header_navList {
				display: block;
				padding: 0;
				margin: 0;
				.header_navLink {
					padding: 2rem;
					a {
						font-family: $font-500;
						font-size: 1.8rem;
						font-weight: 500;
						transition: $all-transition;
						color: rgba(93, 94, 103, 1);
					}
				}
			}
		}
		.mob_view {
			display: block;
		}
		.desk_view {
			display: none;
		}
		.controls {
			button {
				display: grid;
			}
		}
	}
	.header_wrapper,
	.header_wrapper__collapsed {
		flex-grow: 1;
		transition: transform 0.3s ease-out;
		@include flex(center, center);

		@include screenMax("mobile") {
			order: 3;
			width: calc(100% - 1.6rem);
			height: 100%;
			position: fixed;
			top: 9rem;
			right: 0.8rem;
			background-color: $light-background-sd-body;
			z-index: 4;
			padding: 4rem 7%;
			margin-left: 0;
			transition: $all-transition;
			@include flex(flex-start, flex-start, column);
		}
		.buttons {
			display: none;
			&[data-buttons = "true"] {
				display: block;
				// width: 100%;
			}
		}
	}

	.header_wrapper__collapsed {
		@include screenMax("mobile") {
			right: 101dvw;
		}
	}

	&[data-value="alcohol"] {
		transition: $all-transition;
	}
	&[data-type="dark"] {
		background-color: $dark-background-sd-body;
		transition: $all-transition;
		.button_container,
		.cart_button {
			border-color: $col-white;
			transition: $all-transition;
		}
		.cart_button {
			background-color: transparent;
			transition: $all-transition;
			p {
				color: $col-white;
				transition: $all-transition;
			}
		}
		.header_wrapper,
		.header_wrapper__collapsed {
			@include screenMax("mobile") {
				background-color: $col-grey-darker;
				transition: $all-transition;
			}
		}
		.controls {
			button {
				rect {
					fill: #fffaf1;
					transition: $all-transition;
				}
			}
		}
		&[data-value="alcohol"] {
			background-color: $dark-background-ad-body;
			transition: $all-transition;
		}
	}
}

.header_scrolled {
	padding: 1.4rem 4.4rem 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	transition: $all-transition;
	@include screenMax("mobile") {
		padding: 2.4rem 1.4rem;
	}
}
