@import '@/styles/imports';

.signIn_body {
    height: 100%;
    background: $col-background-shade;
    padding: 8.8rem 6.4rem 0;
    .auth_component {
        p {
            font-family: $font;
            color: $col-grey-500;
            @extend %text-14;
            text-align: center;
            margin-top: -1.6rem;
        }
        .tabHeader_container {
            width: 100%;
            height: 5.6rem;
            padding: 1.6rem 1.6rem 0;
            border-radius: 1.6rem;
            background: $col-white;
            margin: 2.4rem 0;
            justify-content: space-around;
            @extend %flex-align !optional;
            cursor: pointer;
            h3 {
                font-family: $font;
                @extend %text-16;
                color: $col-grey-500;
                margin-bottom: 1.6rem;
                text-align: center;
            }
            .tab_active, .tab {
                width: 18.4rem;
            }
            .tab_active {
                h3 {
                    color: $col-primary-default;
                    font-family: $font-900;
                }
                border-bottom: 0.4rem solid $col-primary-default;
            }
        }
        .tabcontent {
            .tab_1 {
                .btn {
                    margin-bottom: 1.6rem;
                    width: 100%;
                    justify-content: space-around;
                    h3 {
                        font-family: $font-500;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        color: #666;
                    }
                }
                .divider {
                    width: 100%;
                    @extend %flex-align !optional;
                    gap: 1.6rem;
                    height: 4rem;
                    margin-bottom: 1.6rem;
                    h3 {
                        @extend %text-16;
                        color: $col-grey-500;
                        font-family: $font;
                    }
                    .line {
                        width: 17.5rem;
                        height: 0.1rem;
                        background: $col-grey-700;
                    }
                }
                .input_fields {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    input {
                        width: 100%;
                    }
                    .forgot_password {
                        h3 {
                            @extend %text-14;
                            font-family: $font-900;
                            color: $col-primary-default;
                        }
                    }
                }
            }
        }
    }
    @include screenMax("mobile") {
        padding: 5.6rem 4rem 0;
        min-height: 100vh;
    }
}