@import '@/styles/imports';

.recover_password_page {
	.form_container {
		max-width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.logo {
			margin-bottom: 4rem;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.subTitle_icon {
			padding: 0.5rem 1.5rem;
			border-radius: 8px;
			margin: 2rem 0;
			background: $col-error-50;

			.icon {
				height: 50px;
				width: 50px;
			}

			p {
				color: $col-grey-900;
				@extend %text-16;
				font-family: $font-700;
			}
		}

		.title {
			@extend %title-32;
			font-family: $font-900;
			color: $col-grey-900;
		}

		.description {
			margin-bottom: 2rem;
			text-align: center;
			@extend %text-14;
		}

		.tabHeader_container {
			width: 100%;
			height: 5.6rem;
			padding: 1.6rem 1.6rem 0;
			border-radius: 1.6rem;
			background: $col-white;
			margin: 0 0 2rem 0;
			justify-content: space-around;
			@extend %flex-align !optional;
			cursor: pointer;
			h3 {
				font-family: $font;
				@extend %text-16;
				color: $col-grey-500;
				margin-bottom: 1.6rem;
				text-align: center;
			}
			.tab_active,
			.tab {
				width: 18.4rem;
			}
			.tab_active {
				h3 {
					color: $col-primary-default;
					font-family: $font-900;
				}
				border-bottom: 0.4rem solid $col-primary-default;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		// align-items: center;
		width: 100%;

		.auth_btn {
			background: $col-primary-default;
			width: 100%;
			margin-top: 2.4rem;
			h3 {
				color: $col-white;
				font-family: $font-900;
				@extend %text-16;
			}
		}
		.error_styles {
			@extend %text-14;
			font-family: $font-500;
			color: $col-error-500;
		}

		.error_border {
			border: 0.1rem solid $col-error-500;
		}
		.input_fields {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			input {
				width: 100%;
			}

			.prefix_container {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 0.5rem;
				height: 1.7rem;

				.prefix_divider {
					width: 1px;
					height: 2rem;
					background-color: $col-grey-300;
					display: flex;
				}
			}
		}
	}
}
