@import '@/styles/imports';

%flex-column {
    display: flex;
    flex-direction: column;
}

.pagination_container {
    display: flex;
    gap: 2.8rem;
    margin: 7.2rem 0;
    padding: 0 3rem;
    @include screenMax("mobile") {
        flex-direction: column-reverse;
        padding: 0 1.6rem;
        gap: 2rem;
        align-items: center;
        margin: 0;
    }
    .pagination_selector {
        .productCard_container {
            @include grid(repeat(3, 1fr), 3rem);
            position: relative;
            transition: $all-transition;
            @include screenMax("mobile") {
                @include grid(repeat(2, 1fr), 4rem);
            }
    
        }
        .pageBtns_container, .pageBtns_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.4rem;
            transition: $all-transition;
            margin: 4.8rem auto;
            .pageBtns_wrapper {
                margin: 0;
            }
    
            .left_chevron, .right_chevron {
                width: 5.1rem;
                height: 5.1rem;
                position: relative;
                border: 0.2rem solid $light-text-main;
                @extend %flex-center;
                border-radius: 50%;
                cursor: pointer;
                &[data-theme = "dark"] {
                    border-color: #F4F4F4;
                    color: $light-text-main;
                }
                svg {
                    width: 3.2rem;
                    height: 3.2rem;
                    position: relative;
                }
                @include screenMax("mobile") {
                    width: 3rem;
                    height: 3rem;
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            .left_chevron {
                &[data-page = "1"] {
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }
            .right_chevron {
                transform: rotate(180deg);
                &[data-lastpage = "true"] {
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }
            @include screenMax("mobile") {
                margin: 2rem 0 0;
            }
        }
    }
}