@import '/styles/imports';

.modal_container {
    .modal_body_container {
        width: 71rem;
        .modal_header {
            width: 100%;
            @extend %flex-align;
            margin-bottom: 3.2rem;
            justify-content: space-between;
            .header_text {
                font-family: $font-900;
                @extend %title-32;
                color: $col-grey-600;
            }
            .close_btn {
                width: 4rem;
                height: 4rem;
                position: relative;
                rotate: 45deg;
                cursor: pointer;
            }
        }
        .modal_content {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            margin-bottom: 4rem;
            .phone_number_field, .date_field {
                h3 {
                    @extend %text-14;
                    font-family: $font;
                    margin-bottom: 0.8rem;
                }
            }
        }
        .save_btn {
            width: 100%;
            background-color: $col-primary-default;
            .save_btn_text {
                @extend %text-16;
                color: $col-white;
                font-family: $font-900;
            }
        }
    }

    @include screenMax("mobile") {
        .modal_body_container {
            width: 100%;
            margin: 0 1rem;
            .modal_header {
                margin-top: 4rem;
                .close_btn {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            .modal_content {
                .date_field {
                    .input_fields {
                        input[type = 'date'] {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
            }
            .save_btn {
                height: 4rem;
                margin-bottom: 5.8rem;
            }
        }
    }
}