* {
	outline: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

html {
	font-size: calc(100vw / 1440 * 10);
	margin: 0;
	padding: 0;
	height: 100%;
	&::-webkit-scrollbar {
		display: none;
	}
	& {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	@include flex(stretch, stretch, column);
	// @include screenMax('tablet') {
	//   font-size: calc(100vw / 950 * 10);
	// }

	@include screenMax('mobile') {
		font-size: calc(100vw / 650 * 10);
	}

	@include screenMax('ssm-mobile') {
		font-size: calc(100vw / 485 * 10);
	}
}

body {
	line-height: 1;
	margin: 0;
	scroll-behavior: smooth;
	font-family: $font;
	color: $col-grey-header;
	background-color: $col-primary-default;
}

#__next {
	flex-grow: 1;
	@include flex(stretch, stretch, column);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px $col-background-shade inset !important;
}
