@import "@/styles/imports";

.card {
	width: 100%;
	height: 33.8rem;
	border-radius: 1.6rem;
	padding: 2.4rem;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	overflow: hidden;
	position: relative;

    .btn_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        h3 {
            font-family: $font-900;
            @extend %title-32;
            color: $light-text-main;
            text-transform: uppercase;
        }
        button {
            align-self: flex-start;
			display: none;
            p {
                font-family: $font-900;
                @extend %text-16;
                color: $light-text-main;
                &[data-theme = "dark"] {
                    color: $col-white;
                }
            }
        }
    }
	.btn {
		align-self: flex-end;
		h3 {
			@extend %text-16;
			font-family: $font-900;
			color: $col-primary;
			&[data-theme="dark"] {
				color: $col-white;
			}
		}
	}
	&:nth-child(1) {
		margin-top: 4rem;
		.image {
			transform: rotate(-15deg);
			position: absolute;
			right: 4rem;
			top: -2rem;
			.imageCont {
				position: relative;
				width: 30rem;
				height: 40rem;
			}
		}
	}
	&:nth-child(2) {
		.image {
			transform: rotate(10deg);
			position: absolute;
			right: -1rem;
			top: -5rem;
			.imageCont {
				position: relative;
				width: 45.5rem;
				height: 45.5rem;
			}
		}
		[data-route="/alcohol"] {
			transform: rotate(20deg);
			.imageCont {
				width: 35rem;
			}
		}
	}
	&:nth-child(3) {
		margin-top: 4rem;
		.image {
			transform: rotate(-15deg);
			position: absolute;
			right: 5rem;
			top: -7rem;
			.imageCont {
				position: relative;
				width: 40rem;
				height: 50rem;
			}
		}
	}
	&:nth-child(4) {
		.image {
			position: absolute;
			right: 0;
			top: -5rem;
			transform: rotate(10deg);
			.imageCont {
				position: relative;
				width: 40rem;
				height: 45.6rem;
			}
		}
		[data-route="/alcohol"] {
			transform: rotate(20deg);
		}
	}

	&[data-checkroute="true"] {
		height: 16rem;
		flex-direction: row-reverse;
		align-content: unset;
		padding: 2.4rem 4rem;
		.btn_container {
			justify-content: center;
			h3 {
				font-size: 2.4rem;
				line-height: 3.6rem;
			}
			button {
				display: none;
			}
		}
		&:nth-child(1) {
			margin: 0 0 2.4rem;
			.image {
				transform: rotate(8deg);
				left: 3rem;
				top: -2rem;
				.imageCont {
					width: 12rem;
					height: 20rem;
				}
			}
		}
		&:nth-child(2) {
			margin: 0 0 2.4rem;
			.image {
				left: -2rem;
				top: -2rem;
				.imageCont {
					width: 19.5rem;
					height: 19.5rem;
				}
			}
		}
		&:nth-child(3) {
			margin: 0 0 2.4rem;
			.image {
				transform: rotate(8deg);
				left: -1rem;
				top: -2rem;
				.imageCont {
					width: 18rem;
					height: 20rem;
				}
			}
		}
		&:nth-child(4) {
			margin: 0 0 2.4rem;
			.image {
				transform: rotate(10deg);
				left: -2rem;
				top: -2rem;
				.imageCont {
					width: 17rem;
					height: 21.5rem;
				}
			}
		}
		&:nth-child(5) {
			margin: 0 0 2.4rem;
			.image {
				position: absolute;
				transform: rotate(8deg);
				left: 4rem;
				top: -5rem;
				.imageCont {
					width: 12rem;
					height: 20rem;
				}
			}
		}
		&:nth-child(6) {
			margin: 0 0 2.4rem;
			.image {
				position: absolute;
				transform: rotate(10deg);
				left: -1rem;
				top: -6rem;
				.imageCont {
					height: 19.5rem;
					width: 19.5rem;
				}
			}
		}
		&:nth-child(7) {
			margin: 0 0 2.4rem;
			.image {
				position: absolute;
				transform: rotate(8deg);
				left: 0rem;
				top: -5rem;
				.imageCont {
					width: 18rem;
					height: 20rem;
				}
			}
		}
		&:nth-child(8) {
			margin: 0 0 2.4rem;
			.image {
				position: absolute;
				transform: rotate(10deg);
				left: -1rem;
				top: -6rem;
				.imageCont {
					width: 17rem;
					height: 21.5rem;
				}
			}
		}

	}
	
	@include screenMax("mobile") {
		height: 25.1rem;
		padding: 1.6rem;
		margin-top: 1.6rem;
		&[data-checkroute="true"] {
			padding: 1.6rem;
			height: 14rem;
			&:nth-child(1) {
				.image {
					left: 0;
					top: -3rem;
					.imageCont {
						width: 10rem;
					}
				}
			}
			&:nth-child(2), &:nth-child(6) {
				.image {
					top: -4rem;
					.imageCont {
						width: 16.5rem;
						height: 16.5rem;
					}
				}
			}
			&:nth-child(3) {
				.image {
					left: -3rem;
					.imageCont {
						width: 13rem;
					}
				}
			}
			&:nth-child(4) {
				.image {
					left: -1rem;
					.imageCont {
						width: 12rem;
						height: 18.5rem;
					}
				}
			}
			&:nth-child(5) {
				.image {
					left: 0.5rem;
					.imageCont {
						width: 10rem;
					}
				}
			}
			&:nth-child(6) {
				.image {
					transform: rotate(0deg);
				}
			}
			&:nth-child(7) {
				.image {
					left: -5rem;
					.imageCont {
						width: 13rem;
					}
				}
			}
			&:nth-child(8) {
				.image {
					.imageCont {
						width: 13rem;
						height: 18.5rem;
					}
				}
			}
		}
		.btn {
			flex-shrink: 0;
			z-index: 2;
			height: 6rem;
			width: 14rem;
			h3 {
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
		}
		&:nth-child(1) {
			.image {
				transform: rotate(0);
				right: -1rem;
				top: 4rem;
				.imageCont {
					width: 20rem;
					height: 25rem;
				}
			}
		}
		&:nth-child(2) {
			.image {
				transform: rotate(0);
				right: -1rem;
				top: 2rem;
				.imageCont {
					width: 25rem;
					height: 30rem;
				}
			}
		}
		&:nth-child(3) {
			.image {
				transform: rotate(0);
				right: -2rem;
				top: 3rem;
				.imageCont {
					width: 28rem;
					height: 25rem;
				}
			}
		}
		&:nth-child(4) {
			.image {
				transform: rotate(0);
				right: -1.5rem;
				top: 1rem;
				.imageCont {
					width: 25rem;
					height: 30rem;
				}
			}
		}
	}
}
