@import '@/styles/imports';
.container {
	display: flex;
	align-items: center;
	border: 0.2rem solid $col-grey-header;
	border-radius: 10rem;
	padding: 0.4rem;
	.button_container {
		padding: 0;
		cursor: pointer;
		.button {
			padding: 0.8rem 1.6rem;
			@extend %text-16;
			font-family: $font-900;
			color: $col-grey-header;
			border-radius: 10rem;
			&[data-active='true'] {
				background-color: $col-primary-default;
				font-family: $font-900;
				color: $col-white;
				border: 0.2rem solid $col-grey-dark-stroke;
				&[data-route="true"] {
					background-color: $col-orange-300;
				}
			}
		}
	}
	&[data-type="dark"] {
		border-color: $col-white;
		.button_container {
			.button {
				color: $col-white;
			}
		}
	}
	@include screenMax('mobile') {
		margin: 2.4rem 0;
		width: 100%;
		gap: 3rem;
	}
}