@import "@/styles/imports";

.container {
	width: 100%;
	padding: 1rem 0;
	@include flex(space-between, center);
	.row {
		@include flex(flex-start, center);
	}
	.icon {
		position: relative;
		width: 2.17rem;
		height: 2.17rem;
		margin-left: 0.3rem;
		.info_container {
			position: absolute;
			max-width: 20rem;
			top: -150%;
			left: 50%;
			padding: 1rem;
			border-radius: 0.4rem;
			background-color: $col-secondary;
			display: none;
		}
		&:hover {
			.info_container {
				display: block;
			}
		}
	}
	.text {
		h3 {
			@extend %text-18;
			font-family: $font-700;
		}
		p,
		h6,
		h5 {
			@extend %text-14;
			text-transform: capitalize;
		}
		h5 {
			font-family: $font-700;
		}
		&[data-type="loss"] {
			h5 {
				color: $col-error-background;
			}
		}
		&[data-type="gain"] {
			h5 {
				color: $col-success-500;
			}
		}
	}
	&:not(:last-child) {
		border-bottom: 0.1rem solid $col-grey-darker;
	}
}
