@import "@/styles/imports";

.clip {
	.svg_stroke {
		transition: $all-transition;
	}
	.clip:hover {
		transition: $all-transition;
		svg {
			transition: $all-transition;
		}
		path {
			transition: $all-transition;
		}
	}
	&[data-hover="true"] {
		.svg_stroke {
			transition: $all-transition;
		}
		.clip:hover {
			transition: $all-transition;
			svg {
				transition: $all-transition;
			}
			path {
				transition: $all-transition;
			}
		}
	}
}
