%text-24 {
	line-height: 3.6rem;
	font-size: 2.4rem;
}

%text-20 {
  line-height: 2.8rem;
  font-size: 2rem;
}


%text-18 {
  line-height: 2.7rem;
  font-size: 1.8rem;

  @include screenMax("mobile") {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

%text-16 {
  line-height: 2.4rem;
  font-size: 1.6rem;
}

%text-14 {
  line-height: 2.4rem;
  font-size: 1.4rem;
}

%text-12 {
  line-height: 2rem;
  font-size: 1.2rem;
}

%text-10 {
  line-height: 1.6rem;
  font-size: 1rem;
}
