@import "@/styles/imports";

.footer {
	padding: 5.8rem 13.5rem 5.2rem;
	// background-color: #fafafa;
	// @include screenMax("tablet") {
	// 	padding: 5rem 3.5rem 5.3rem;
	// }
	@include screenMax("mobile") {
		padding: 2rem 1.5rem 5.3rem;
	}
}

.footer_body {
	@include flex(space-between, center, wrap);
	@include screenMax("mobile") {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.footer_navSection {
	@include flex();
	// @include screenMax("tablet") {
	// 	justify-content: space-between;
	// 	width: 100%;
	// 	order: 3;
	// }
	@include screenMax("mobile") {
		justify-content: space-between;
		width: 100%;
		order: 2;
	}
}
.footer_logo {
	// @include screenMax("tablet") {
	// 	margin-right: 10rem;
	// 	order: 1;
	// }
	@include screenMax("mobile") {
		margin-bottom: 5rem;
		margin-right: 10rem;
		order: 1;
	}
}

.footer_logo_noMob {
	@include screenMax("mobile") {
		display: none;
	}
}
.footer_logo_noDesk {
	display: none;
	@include screenMax("mobile") {
		display: block;
	}
}

.footer_nav {
	@include flex();
	li {
		&:not(:last-child) {
			margin-right: 6.5rem;
		}
		a {
			@extend %text-18;
			font-family: $font-500;
			font-weight: 500;
		}
	}
}

.footer_divider {
	background-color: rgba(116, 127, 155, 0.09);
	height: 0.2rem;
	width: 100%;
	margin: 4.3rem 0;
}

.footer_footer {
	@include flex(space-between, flex-start, wrap);
	width: 100%;
	.footer_copyWrite {
		// @include flex(flex-start, center);
		// text-align: center;
		// width: 100%;
		p {
			font-family: $font-500;
			font-size: 1.8rem;
			color: rgba(0, 0, 0, 0.5);
			// @include screenMax('mobile') {
			//   font-size: 1.4rem;
			//   text-align: center;
			// }
		}
	}
	.footer_address {
		p {
			@extend %text-20;
			font-family: $font;
		}
	}
	.footer_socials {
		@include flex(flex-end, center, nowrap);
		@include screenMax("mobile") {
			margin: 5rem auto;
		}
	}
	@include screenMax("mobile") {
		flex-direction: column;
		.footer_nav {
			order: 1;
			flex-direction: column;
			margin-bottom: 2rem;
			li {
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 2rem;
				}
				a {
					font-size: 2.2rem;
				}
			}
		}
		.footer_address {
			order: 2;
			margin-bottom: 2rem;
			@include flex();
			p {
				font-size: 2.4rem;
				line-height: 3.2rem;
				&:first-child {
					margin-right: 15rem;
				}
			}
		}
		.footer_copyWrite {
			order: 3;
		}
	}
}

.text,
.title {
	h1,
	a {
		font-size: 3.6rem;
		line-height: 4.5rem;
	}
	a {
		color: rgba(166, 64, 41, 1);
		// text-decoration: underline;
		border-bottom: 0.3rem solid rgba(166, 64, 41, 1);
		padding-bottom: 0.2rem;
	}
	p {
		@extend %text-16;
		color: $col-white;
		font-family: $font-700;
		// @include screenMax("tablet") {
		// 	font-size: 1.4rem;
		// 	line-height: 1.8rem;
		// }
		@include screenMax("mobile") {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
	}
}

.title {
	max-width: 80rem;
}

.text {
	text-align: center;
}
