@import '@/styles/imports';

.nameAndNumber {
	@extend %flex-align;
	gap: 1.6rem;
}

.input {
	margin-top: 1rem;
}
.prefix_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	height: 1.7rem;
	color: $col-grey-500;

	.prefix_divider {
		width: 1px;
		height: 2rem;
		background-color: $col-grey-300;
		display: flex;
	}
}

.applyDiscount_btn,
.applyDiscount_btnActive {
	height: 5.6rem;
	width: 12.8rem;
	margin-top: 2rem;
	align-self: flex-end;
	background: $col-grey-light-stroke;
	cursor: not-allowed;
	h4 {
		@extend %text-14;
		font-family: $font-900;
		color: $light-text-main;
	}
}
.applyDiscount_btnActive {
	opacity: 1;
	cursor: pointer;
	pointer-events: unset;
}
