@import '@/styles/imports';

.saved_addresses {
	display: flex;
	flex-direction: column;
	border: 1px solid $col-grey-300;
	border-radius: 10px;
	padding: 1.5rem;
	gap: 1.6rem;
	.address {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		@extend %text-18;
		color: $col-grey-500;
		font-family: $font;
		&[data-active='true'] {
			color: $col-grey-900;
			font-weight: 700;
		}

		.address_details {
			display: flex;
			gap: 1rem;
			align-items: center;

			.dots {
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background-color: $col-grey-500;
			}

			li {
				@extend %text-20;
				color: $col-grey-500;
				font-family: $font;
			}
		}
	}
	.add_new_address {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		gap: 1.5rem;
		@extend %text-18;
		color: $col-primary-default;
		font-weight: 700;
		cursor: pointer;

		&[data-visible='false'] {
			display: none;
		}
	}

	.single_address {
		display: flex;
		gap: 1.6rem;
		justify-content: space-between;
		align-items: flex-start;
		h3 {
			@extend %text-20;
			font-family: $font-700;
			color: $light-text-main;
		}

		.address_details {
			.email_phone_container {
				display: flex;
				gap: 1rem;
				align-items: center;
				.dots {
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 50%;
					background-color: $col-grey-500;
				}
			}
		}
	}
}

.nameAndNumber {
	@extend %flex-align;
	gap: 1.6rem;
}

.delivery_note {
	height: 8rem;
}

.sender_container {
	margin-top: 2rem;
	h3 {
		@extend %text-24;
		font-family: $font-700;
		color: $light-text-main;
	}
}

.input {
	margin-top: 1rem;
}
.prefix_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	height: 1.7rem;
	color: $col-grey-500;

	.prefix_divider {
		width: 1px;
		height: 2rem;
		background-color: $col-grey-300;
		display: flex;
	}
}

.applyDiscount_btn,
.applyDiscount_btnActive {
	height: 5.6rem;
	width: 12.8rem;
	margin-top: 2rem;
	align-self: flex-end;
	background: $col-grey-light-stroke;
	cursor: not-allowed;
	h4 {
		@extend %text-14;
		font-family: $font-900;
		color: $light-text-main;
	}
}
.applyDiscount_btnActive {
	opacity: 1;
	cursor: pointer;
	pointer-events: unset;
	background-color: $col-primary-default;
	h4 {
		color: #fff;
	}
}

.hide_sender,
.hide {
	display: none;
}
