@import "@/styles/imports";

%imgContainer_bg {
	width: 7.2rem;
	height: 4rem;
	position: relative;
	border: 0.1rem solid $col-grey-700;
	display: flex;
	align-items: center;
	padding: 0.4rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: $all-transition;

	.imgContainer {
		width: 3.2rem;
		height: 3.2rem;
		position: relative;
		flex-shrink: 0;
		transition: $all-transition;

		img {
			align-self: flex-start;
		}
	}
}
.imgContainer_lightbg {
	@extend %imgContainer_bg;
	background-color: $col-yellow-500;
	&[data-theme="dark"] {
		background-color: $col-purple-500;
		border: 0;
		.imgContainer {
			transition: all 0.2s ease-out;
			transform: translate(3rem);
		}
		&[data-url="true"] {
			background-color: $col-coral-500;
		}
	}

	@include screenMax("mobile") {
		margin-bottom: 2rem;
	}
}
