@import "@/styles/imports";

.wrapper {
    .container {
        @include grid(repeat(2, 1fr), 4rem);
        margin: 0 auto 3.2rem;
        padding: 4rem;
    }
    .btn {
        width: 21.8rem;
        background-color: $col-primary-default;
        margin: 0 auto 4rem;
        h3 {
            @extend %text-16;
            color: $col-white;
        }
    }

    &[data-route="true"] {
        .container {
            @include grid(repeat(2, 1fr), 2.4rem);
            margin-bottom: 8rem;
        }
        .btn {
            display: none;
        }
    }

    @include screenMax("mobile") {
        &[data-route="true"] {
            .container {
                display: block;
                padding: 1.6rem;
            }
        }
        .container {
            display: block;
            padding: 1.6rem;

        }
    }
}