@import '@/styles/imports';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	z-index: 5;
	padding: 5rem;
	@extend %flex-center;
	.modalbody {
		position: relative;
		background: $col-background-shade;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem 5rem;
		height: auto;
		border-radius: 1.6rem;
		z-index: 100;

		&[data-overflow='true'] {
			overflow: visible;
		}

		&[data-overflow='false'] {
			overflow: auto;
		}

		&[data-theme='dark'] {
			color: $col-white;
		}

		&[data-modalimage='true'] {
			padding: 10rem 8rem;
		}
		.modalImage_container {
			position: absolute;
			top: -7rem;
			left: 40%;
			width: 14rem;
			height: 14rem;
			border-radius: 50%;
			border: 0.4rem solid #666;
			background: $col-white;
			@extend %flex-center;
			z-index: 100;
			.modalImage {
				position: relative;
				border-radius: 100rem;
				width: 12rem;
				height: 12rem;
			}
		}

		::-webkit-scrollbar {
			width: 3px; /* For Chrome, Safari, and Opera */
		}

		/* Firefox scrollbar */
		scrollbar-width: thin;

		/* Define scrollbar thumb */
		::-webkit-scrollbar-thumb {
			background-color: #888; /* Color of the scrollbar thumb */
			border-radius: 10px; /* Rounded corners */
		}

		/* On hover, add a darker color */
		::-webkit-scrollbar-thumb:hover {
			background-color: #555;
		}
	}
	.modalImage_container_sm {
		display: none;
		position: absolute;
		top: 10rem;
		border-radius: 200rem;
		border: 0.4rem solid #666;
		background: $col-white;
		@extend %flex-center;
		z-index: 2;
		.modalImage {
			position: relative;
			border-radius: 100rem;
			width: 12rem;
			height: 12rem;
		}
	}
	@include screenMax('mobile') {
		align-items: flex-end;
		padding: 1rem;
		.modalbody {
			width: 100%;
			padding: 1rem;
			padding-bottom: 3rem;
			height: auto;
			overflow-y: visible;
			max-height: 80%;
			@include noScrollBar;

			&[data-modalImage='true'] {
				padding: 5rem 1rem;
			}

			.modalImage_container {
				width: 8rem;
				height: 8rem;
				top: -4rem;
				.modalImage {
					position: relative;
					border-radius: 100rem;
					width: 6rem;
					height: 6rem;
				}
			}
		}
	}
}
