@import "@/styles/imports";

.notification {
	width: 48rem;
	margin: 0 auto;
	h1 {
		@extend %title-32;
		color: $light-text-main;
		text-align: center;
		margin: 0.8rem 0;
		font-family: $font-900;
	}
	p {
		color: $col-grey-500;
		text-align: center;
		@extend %text-14;
		font-family: $font;
		span {
			color: $col-coral-500;
		}
	}
	.banner {
		width: 10.9rem;
		margin: 0 auto;
	}
}
